<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rui.control.mapper.IComputerMapper" >
  
    <!-- 公共查询语句 -->
	<sql id="selectSql">
		select 
		    <trim suffixOverrides="," >
		    	u.id as id,
				u.ip as ip,
				u.name as name,
				u.password as password
		    </trim>
	   	from
	    	`computer` as u
	</sql>
</mapper>